/* App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2f3e57;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.sidebar li:hover {
  background-color: #60769c;
}

.sidebar .active {
  background-color: #60769c;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}
